%header#header
  %nav.navbar.navbar-default.navbar-fixed-top.menu
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#{root_path}"}
          %img{:alt => "logo", :src => "#{image_path("theme_images/logo.png")}"}/
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right.main-menu
        
          %li.dropdown{id: "notifications-dropdown"}
            = render 'notifications/notification_dropdown'
                      
                      
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.user_name
              %span{class: "navbar_margin"}
                = image_tag image_path("theme_images/down-arrow.png")
            %ul.dropdown-menu.newsfeed-home
              %li
                = link_to "Account", edit_user_path(current_user.id)
              %li
                = link_to "Sign Out", destroy_user_session_path, :method => :delete
                
:javascript
  window.writeit.notifications.remove_after_close();
  window.writeit.notifications.set_counter_color();
